body {
    margin: 0px;
    background-color: black;
    text-align: center;
}

div.picture {
    position: absolute;
    display: block;
    text-align: center;
    vertical-align: middle;
    filter:alpha(opacity=20);
    right: 0px;
    top: 0px;
}

img {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

