/*
 * $LastChangedDate: 2008-09-01 18:16:28 +0000 (Mon, 01 Sep 2008) $
 * $LastChangedRevision: 45 $
 * $LastChangedBy: a.skwar $
 * $HeadURL: http://pas3.googlecode.com/svn/trunk/pennave/static/css/logging.css $
 * $Id: logging.css 45 2008-09-01 18:16:28Z a.skwar $
 */

div#logging_window > span { display: block; border: 1px solid black; -moz-border-radius: 8px; padding: 1px; padding-left: 2px; padding-right: 2px; margin-bottom: 1px; font-family: arial, helvetica; font-weight: bold; font-size: 75%; -moz-opacity: 0.2;}

div#logging_window { display: none; }

span.log0 {
    background-color: #99ff99; border-color: #009900 !important;
}

span.log10 {
    background-color: #99ccff; border-color: #0000cc !important;
}

span.log20 {
    background-color: #ff99cc; border-color: #ff3399 !important;
}

span.log30 {
    background-color: #ffff99; border-color: #ffff00 !important;
}

span.log40 {
    background-color: #ffd0a0; border-color: #ff9933 !important;
}

span.log50 {
    background-color: #ffbbbb; border-color: red !important;
}
