/*
 * $LastChangedDate: 2008-09-01 18:16:28 +0000 (Mon, 01 Sep 2008) $
 * $LastChangedRevision: 45 $
 * $LastChangedBy: a.skwar $
 * $HeadURL: http://pas3.googlecode.com/svn/trunk/pennave/static/css/patrick.css $
 * $Id: patrick.css 45 2008-09-01 18:16:28Z a.skwar $
 */

body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7777bb;
    font-family: arial, sans, helvetica;
}

div.canvasDiv {
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    border: 0px;
}

h2 a {
    text-decoration: none;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
    background-color: yellow;
}

img:hover {
    background-color: #7777bb;
}



