/*
 * $LastChangedDate: 2008-09-01 18:16:28 +0000 (Mon, 01 Sep 2008) $
 * $LastChangedRevision: 45 $
 * $LastChangedBy: a.skwar $
 * $HeadURL: http://pas3.googlecode.com/svn/trunk/pennave/static/css/pennave2.css $
 * $Id: pennave2.css 45 2008-09-01 18:16:28Z a.skwar $
 */

div.photo {
    width: 140px; height: 100px !important;
    margin: 5px;
    display: block;
    -moz-border-radius: 10px;
    border: 1px solid black;
    float: left;
}

div.photo:hover {
    margin: 4px;
    border: 2px solid red;
}
    
img.photo {
    margin: 10px;
    width: 200px;
    height: 150px;
    background-color: white;
}

div#tag_window {
    border: 1px solid black;
    position: absolute;
    // top: 5px;
    left: 5px;
    width: 216px;
    margin-top: 5px;
    font-size: 80%;
    font-family: arial, sans, verdana, helvetica;
    background-color: #cc66ff;
    border: 2px solid #aa44dd;
    min-height: 256px;
    -moz-border-radius: 5px;
    padding: 5px;
}

div#tag_window a {
    text-color: white;
    text-decoration: none;
}

div#tag_window a:visited {
    text-color: white;
}

div#tag_window span.tag-1 {
    font-size: 100%;
}
div#tag_window span.tag-2 {
    font-size: 120%;
}
div#tag_window span.tag-3 {
    font-size: 140%;
}
div#tag_window span.tag-4 {
    font-size: 160%;
}
div#tag_window span.tag-5 {
    font-size: 180%;
}
div#tag_window span.tag-6 {
    font-size:200%;
}
div#tag_window span.noTagSpan {
    margin-left: auto; margin-right: auto; text-align: center;
    display: block; margin-top: 100px;
}


div#main_window {
    margin-left: 235px;
    margin-right: 225px;
}

div#side_content {
    position: absolute;
    // top: 5px;
    right: 5px;
    width: 220px;
    font-size: 80%;
 }


body {
    margin: 0px;
    // margin-top: 5px;
    background-color: white;
}

/*
 * stuff for the current tags bar
 */
div#current_tags {
    background-color: #99ff66;
    border-bottom: 2px solid #88dd55;
    text-align: center;
    font-size: 80%;
    padding-left: 3px; padding-right: 3px;
    margin-bottom: 5px;
    min-height: 14pt;
    font-family: arial, sans, verdana, helvetica;
}

div#current_tags a {
    text-decoration: none;
}

div#current_tags a:visited {
    color: black;
}

div#current_tags span.current_tags_sep {
    padding-left: 1px; padding-right: 1px; text-color: red;
}

div#current_tags span.bar-elem-remove a {
    font-weight: bold;
}

div#current_tags span.current_tags_sep {
    margin: 2px;
}


