/*
 * $LastChangedDate: 2008-09-01 18:16:28 +0000 (Mon, 01 Sep 2008) $
 * $LastChangedRevision: 45 $
 * $LastChangedBy: a.skwar $
 * $HeadURL: http://pas3.googlecode.com/svn/trunk/pennave/static/css/slides.css $
 * $Id: slides.css 45 2008-09-01 18:16:28Z a.skwar $
 */

body {
    margin: 0px;
    background-color: black;
    text-align: center;
}

div.picture {
    position: absolute;
    display: block;
    text-align: center;
    vertical-align: middle;
    filter:alpha(opacity=20);
    right: 0px;
    top: 0px;
}

img {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

