/*
 * $LastChangedDate: 2008-09-01 18:16:28 +0000 (Mon, 01 Sep 2008) $
 * $LastChangedRevision: 45 $
 * $LastChangedBy: a.skwar $
 * $HeadURL: http://pas3.googlecode.com/svn/trunk/pennave/nextgenui/pennave.css $
 * $Id: pennave.css 45 2008-09-01 18:16:28Z a.skwar $
 */

div.photo {
    width: 220px; height: 170px !important;
    margin: 5px;
    display: block;
    -moz-border-radius: 10px;
    border: 1px solid black;
    float: left;
}

img.photo {
    margin: 10px;
    width: 200px;
    height: 150px;
    background-color: white;
}

div#tag_window {
    border: 1px solid black;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 200px;
}

div#main_content {
    margin-left: 205px;
    margin-right: 205px;
}

div#side_content {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 200px;
    background-color: green;
}

body {
    margin-top: 5px;
    background-color: white;
}
