/*
 * $LastChangedDate$
 * $LastChangedRevision$
 * $LastChangedBy$
 * $HeadURL$
 * $Id$
 */

body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7777bb;
    font-family: arial, sans, helvetica;
}

div.canvasDiv {
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    border: 0px;
}

h2 a {
    text-decoration: none;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
    background-color: yellow;
}

img:hover {
    background-color: #7777bb;
}



